<div class="center-item-container">
    <form>
        <div class="p-d-flex p-flex-column wrapper container">
            <div class="p-grid p-justify-center">
                <h2 class="p-float-label">
                    Sign In
                </h2>
            </div>
            <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                <span class="p-float-label">
                    <input
                        type="text"
                        id="username"
                        [(ngModel)]="username"
                        name="username"
                        pInputText/>
                    <label for="username">Username</label>
                </span>
            </div>
            <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                <span class="p-float-label password" [class.p-filled]="password">
                    <p-password
                        id="password"
                        [(ngModel)]="password"
                        name="password"
                        [toggleMask]="true"></p-password>
                    <label>Password</label>
                </span>
            </div>
            <div class="p-grid p-justify-center">
                <button type="submit" pButton class="p-mt-5" [disabled]="!isValid" (click)="login()" label="Submit"></button>
            </div>
        </div>
        <p-dialog header="Error" [(visible)]="isErrorDialog">
            Invalid Username or Password.
        </p-dialog>
    </form>
</div>