html {
    min-height: 100%;
}
body {
    font-family: Open Sans,Helvetica Neue,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edf0f5;
    min-height: 100%;
    background-image: linear-gradient(0deg,#6b77a1,#737ea5 3%,#9599b3 15%,#b1b0bf 28%,#c7c1c8 41%,#d6cdcf 57%,#dfd5d3 74%,#e2d7d4);


    input {
        min-width: 250px;
    }

    .center-item-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        min-width: 100%;
    }

    h1, h2, h3, h4, h5 {
        margin: 12px 0;
    }

    .center-item-container {
        height: 100vh;
        position: relative;
        top: -50px;
    }
}
