@import "./dark-theme.scss";
@import "./light-theme.scss";

html {
    min-height: 100%;
}
body {
    font-family: Open Sans,Helvetica Neue,sans-serif;
    margin: 0;
    padding: 0;
    background: $body-background;
    min-height: 100%;

    input {
        min-width: 250px;
    }

    .center-item-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1, h2, h3, h4, h5 {
        margin: 12px 0;
    }

    .center-item-container {
        position: relative;
        top: -50px;
        margin-top: 20vh;
    }

    .p-float-label {
        margin-top: 24px;
    }
    .password {
        &:focus-within, &.p-filled {

            label {
                font-size: 12px;
                top: -0.75rem !important;
                background-color: $container-background;
            }
        }
    }
}
