html {
    min-height: 100%;
}
body {
    font-family: Open Sans,Helvetica Neue,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edf0f5;
    min-height: 100%;
    background-color: #efefef;

    &.dark {
        background-image: none;
        background-color: #2e2e2e;

        h1,h2,h3,h4,h5,h6 {
            color: #efefef;
        }
    }
    input {
        min-width: 250px;
    }

    .center-item-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        min-width: 100%;
    }

    h1, h2, h3, h4, h5 {
        margin: 12px 0;
    }

    .center-item-container {
        height: 100vh;
        position: relative;
        top: -50px;
    }

    .p-float-label {
        margin-top: 24px;
    }
    .password {
        &:focus-within {

            label {
                top: -.75rem;
                font-size: 12px;
            }
        }
    }
}
